<div class = "footer">
	<a href = "https://discord.gg/Gm3ZTv3636" target = "_blank">
		© 2023 Big Space™.
	</a>
	Version 1.7 <i class="fa-solid fa-laptop"></i>
	&nbsp;&nbsp;<span id = "theme" onclick = "toggleTheme()"></span>
</div>