<script src = "https://big-space.onrender.com/script.js"></script>
<script src="https://replit.com/public/js/repl-auth-v2.js"></script>
<script type="module" src="https://md-block.verou.me/md-block.js"></script>
<h1 style = "color:var(--primary); text-align:center">
	Big Space&nbsp;<span style = "font-size:24px; color:var(--tertiary)">Share Content</span>
</h1>
<body onload = "load()"></body>
<div id="snackbar"></div>
<span style = "position: fixed; right: 0; bottom: 0; padding-right:30px; padding-bottom:10px;">
	<a onclick = "toggleTheme()" style = "color:var(--secondary);" id = "theme"></a>
</span>