<h1 style = "color:var(--primary)">
	Big Space&nbsp;<span style = "font-size:24px; color:var(--tertiary)">Share Content</span>
</h1>
<script src = "https://big-space.repl.co/script.js"></script>
<script src = "https://big-space.repl.co/fontawesome.js"></script>
<script src="https://replit.com/public/js/repl-auth-v2.js"></script>
<body onload = "load()"></body>