<!doctype html>
<html lang = "en">
	<head>
		<title>Big Space | Login</title>
		<%- include("./meta.html"); %>
	</head>
	<body>
		<br>
		<center>
			<%- include("./header.html"); %>
				<h2>Official API and Styling Kit</h2>
		</center>
		<h3><u>Basic Configuration</u></h3>
		<p>
			Add <code>https://big-space.repl.co/style.css</code> in your <code>&lt;head&gt;</code> tag.
		</p>
		<hr/>
		<h3><u>Forms</u></h3>
		<p>
			Default Input Usage: <code>&lt;input/&gt;</code><br><input placeholder = "default input…"/><br><br>
			Thin Input Usage: <code>&lt;input class = "thin"/&gt;</code>&nbsp;&nbsp;<input class = "thin" placeholder = "thin input…"/><br><br>
			Default Button Usage: <code>&lt;button&gt;&lt;button&sol;&gt;</code>&nbsp;&nbsp;<button>Default Button</button><br><br>
			Post Button Usage: <code>&lt;button class = "post"&gt;&lt;button&sol;&gt;</code>&nbsp;&nbsp;<button class = "post">Post</button><br><br>
			Logout Button Usage: <code>&lt;button class = "logout"&gt;&lt;button&sol;&gt;</code>&nbsp;&nbsp;<button class = "logout">Logout</button>
		</p>
		<hr/>
		<h3><u>Text</u></h3>
		<p>
			
		</p>
		<%- include("./footer.html"); %>
	</body>
</html>