<!doctype html>
<html lang = "en">
	<head>
		<title>Big Space | Login</title>
		<%- include("./meta.html"); %>
	</head>
	<body>
		<br>
		<center>
			<%- include("./header.html"); %>
				<h2>Official API and Styling Kit</h2>
		</center>
		<h3><u>Basic Configuration</u></h3>
		<p>
			Add <code>https://big-space.repl.co/style.css</code> in your <code>&lt;head&gt;</code> tag.
		</p>
		<h3><u>Inputs & Textareas</u></h3>
		<p>
			Normal Inputs <code>&lt;input/&gt;</code><br>
			Default Inputs <code>&lt;input class = "default"/&gt;</code>
		</p>
		<%- include("./footer.html"); %>
	</body>
</html>