<!doctype html>
<head>
	<title>Big Space | 404</title>
	<%- include("./partials/meta"); %>
</head>
<body>
	<script src = "/script.js"></script>
	<script src="/fontawesome.js"></script>
	<h3>
		<center>
			<%- include("./partials/header"); %>
				<h2 style = "color:var(--error)">404 Not Found</h2>
				<img src = "<%- gif %>" style = "width:300px; height:300px; border-radius:0px;"/>
				<br><br>
				<a href = "/">
					<button class = "login">
						<i class="fa-solid fa-arrow-right-from-bracket"></i>&nbsp;&nbsp;Go back
					</button>
				</a>
			</center>
	</h3>
	<center>
		<%- include("./partials/footer"); %>
	</center>
</body>