<!doctype html>
<html lang = "en">
	<head>
		<title>Big Space | 404</title>
		<%- include("./partials/meta.html"); %>
	</head>
	<body>
		<h3>
			<center>
				<%- include("./partials/header.html"); %>
					<h2 style = "color:var(--error)">404 Not Found</h2>
					<img src = "/404.svg" style = "width:300px; height:300px; border-radius:0px;"/>
					<br><br>
					<a href = "/">
						<button>
							<%- include("./icons/back"); %>&nbsp;&nbsp;Go back
						</button>
					</a>
				</center>
		</h3>
		<div style = "text-align:center;">
			<%- include("./partials/footer.html"); %>
		</div>
	</body>
</html>