<!doctype html>
<head>
	<title>Big Space | 404</title>
	<%- include("./partials/meta"); %>
</head>
<body>
	<script src = "/script.js"></script>
	<script src="/fontawesome.js"></script>
	<h3>
		<center>
			<%- include("./partials/header"); %>
				<h2 style = "color:var(--error)">404 Not Found</h2>
				<img src = "https://s1882.pcdn.co/wp-content/uploads/VoaBStransp.gif" style = "transform: scale(0.6);"/>
				<br>
				<a href = "/">
					<button class = "login">
						<i class="fa-solid fa-arrow-right-from-bracket"></i>&nbsp;&nbsp;Go back
					</button>
				</a>
			</center>
	</h3>
</body>