<!doctype html>
<head>
	<title>Big Space | Share Content</title>
	<%- include("./partials/meta"); %>
</head>
<body>
	<h3>
		&nbsp;&nbsp;<img src = "<%- profile %>" style = "border-radius:50%; width:25px; vertical-align:middle; background-color:var(--post)"/> &nbsp;<a class = "profile" href = "/@<%- user %>"><%- user %></a>
		<span style = "float:right;"><span id = "theme" onclick = "toggleTheme()"></span>&nbsp;&nbsp;<span class = "settings"><a href = "/settings" class="fa-solid fa-gear"></a></span>
		<a href = "/logout" class = "logout">Logout <i class="fa-solid fa-circle-xmark"></i></a></span>
	</h3>
	<center>
		<%- include("./partials/header"); %>
	</center>
	<%- posts %>
		<br><br><br><br>
		<div class = "pencil">
			<a href = "/post_page">
				<button class = "post" type = "submit"><i class="fa-solid fa-pencil" style = "font-size:18px;"></i></button>
			</a>
		</div>
		<center>
			<%- include("./partials/footer"); %>
		</center>
		<script>
			if(localStorage.getItem("viewed_message") == null){
				alert("this app is in Beta mode - expect bugs and frequent database resets, so to make a post you might have to make an account again");
				localStorage.setItem("viewed_message", "true");
			}
		</script>
</body>