<!doctype html>
<head>
	<title>Big Space | Share Content</title>
	<%- include("./partials/meta"); %>
</head>
<body>
	<h3>
		&nbsp;&nbsp;<img src = "<%- profile %>" class = "pfp"/> &nbsp;<a class = "profile" href = "/@<%- user %>"><%- user %></a>
		<span style = "float:right;"><span class = "icon">
			<a href = "/settings" class="fa-solid fa-sliders"></a></span>
			<a href = "/logout" class = "logout">Logout <i class="fa-solid fa-circle-xmark"></i></a>
		</span>
	</h3>
	<center>
		<%- include("./partials/header"); %>
	</center>
	<%- posts %>
		<br><br><br><br>
		<div class = "pencil">
			<a href = "/post_page">
				<button class = "post" type = "submit"><i class="fa-solid fa-pen" style = "font-size:18px;"></i></button>
			</a>
		</div>
		<center>
			<%- include("./partials/footer"); %>
		</center>
		<script>
			if(localStorage.getItem("viewed_message") == null){
				alert("this app is in Beta mode - expect bugs and frequent database resets");
				localStorage.setItem("viewed_message", "true");
			}
		</script>
</body>