<!doctype html>
<head>
	<title>Big Space | Share Content</title>
	<%- include("./partials/meta.html"); %>
</head>
<body>
	<h3>
		&nbsp;&nbsp;<img src = "<%- profile %>" class = "pfp"/> &nbsp;<a class = "profile" href = "/@<%- user %>"><%- user %></a>
		<span style = "float:right;">
			<span class = "icon">
				<a href = "/settings"><%- include("./icons/settings"); %></a>
			</span>
			<a href = "/logout" class = "logout">
				Logout
			</a>
		</span>
	</h3>
	<center>
		<%- include("./partials/header.html"); %>
	</center>
	<%- posts %>
		<br><br><br><br>
		<div class = "pencil">
			<a href = "/post_page">
				<button class = "post" type = "submit"><%- include("./icons/pencil"); %></button>
			</a>
		</div>
		<center>
			<%- include("./partials/footer.html"); %>
		</center>
		<script>
			if(localStorage.getItem("viewed_message2") == null){
				alert("hey! Big Space is soon going to be undergoing huge changes, so your account might be logged out! However, don't worry. Your account hasn't been deleted. Just sign in again, and everything will be alright.");
				localStorage.setItem("viewed_message2", "true");
			}
		</script>
</body>