<!doctype html>
<head>
	<title>Big Space | Jobs</title>
	<meta name="description" content="Find Big Space jobs here! Join us today!">
	<%- include("./partials/meta"); %>
</head>
<body>
	<center>
		<%- include("./partials/header"); %>
		<div class = "postcard" style = "background-color:var(--post);">
			<h2>Big Space Jobs</h2>
			<p>Interested? We're hiring the current roles below!</p>
		</div>
		<div class = "postcard" style = "background-color:var(--post);">
			<div class = "card">
				<h3 style = "color:var(--tertiary)">
					<i class="fa-solid fa-shield-halved"></i> Security
				</h3>
				Experienced with Node.js, Nodemailer, and Express. Should also be familiar with hashing passwords and IP addresses.
			</div>
			<br>
			<div class = "card">
				<h3 style = "color:var(--tertiary)">
					<i class="fa-regular fa-file-code"></i> Backend Dev
				</h3>
				Familiar with Node.js Express package, know how to configure a web server, ratelimit, and build a simple IP verification.
			</div>
			<br>
			<div class = "card">
				<h3 style = "color:var(--tertiary)">
					<i class="fa-solid fa-desktop"></i> UX Designer
				</h3>
				Should know how to use Figma, create concept designs, and apply them into HTML5 format (using CSS3 as well).
			</div>
		</div>
		<a href = "/">
			<button>
				<i class="fa-solid fa-arrow-right-from-bracket"></i>&nbsp;&nbsp;Go back
			</button>
		</a>
	</center>
	<center>
		<%- include("./partials/footer"); %>
	</center>
</body>