<!doctype html>
<head>
	<title>Big Space | Login</title>
	<meta property="og:title" content="Big Space | Share Content"/>
	<meta property="og:description" content="Share content together! Connect with others with our easy UI and have your voice heard!"/>
	<%- include("./partials/meta.html"); %>
</head>
<body>
	<center>
		<br>
		<%- include("./partials/header.html"); %>
		<br>
		<h2 style = "color:var(--primary)">Login</h2>
		<form action = "/login" method = "POST">
			<input name = "username" placeholder="Enter username…" autocomplete = "off" autocorrect = "off" spellcheck="false" required/>
			<br>
			<input name = "password" placeholder = "Enter password…" autocomplete = "off" type = "password" required/>
			<br><br>
			<button type = "submit">Login</button>
		</form>
		<br>
		<h2 style = "color:var(--primary)">Sign Up </h2>
		<form action = "/new_account" method = "POST">
			<input name = "newAccount" placeholder="New username…" autocomplete = "off" autocorrect = "off" spellcheck="false" minlength="4" maxlength="20" required/>
			<br>
			<input name = "newPassword" placeholder="New password…" autocomplete = "off" type = "password" required/>
			<br><br>
			<button type = "submit">Sign Up</button>
		</form>
			<br>
			<noscript>
				<span style = "color:#D9544D">please enable javascript for this website to function</span>
			</noscript>
		<!-- <h2>Not Trusting? Login with Replit instead!</h2><button onclick="alert('replit auth is not available yet')" class = "replit"><img src = "/replit.png" style = "width:25px; height:25px; vertical-align:middle;"> Auth with Replit</button></center>-->
	</center>
	<center>
		<%- include("./partials/footer.html"); %>
	</center>
</body>