<!doctype html>
<html lang = "en">
	<head>
		<title>Big Space | <%- title %></title>
		<meta property="og:title" content="<%- title %>"/>
		<meta property="og:description" content="<%- content %>"/>
		<%- include("./partials/meta.html"); %>
	</head>
	<body>
		<%- include("./partials/header.html"); %>
		<div class = "postcard">
			<h3 style = "text-align:center">
				<span>
					<img src = "<%- authorProfile %>" style = "width:35px; height:35px; vertical-align:middle;">
					<a href = "/@<%- author %>" class = "user"><%- author %></a>
				</span>
				 - "<%- title %>"
				<span class = "report" onclick = "alert('reported this post! mod team will take a look at it!')">
					<%- include("./icons/flag"); %>
				</span>
			</h3>
		</div>
		<div class = "postcard">
			<h3 style = "text-align:center">
				<%- content %>
			</h3>
			<br>
			<%- image %>
		</div>
		<div class = "postcard">
			<h3>Make a comment</h3>
			<form action = "/comment" method = "POST">
				<input name = "postId" id = "postId" type = "hidden"/>
				<input placeholder = "comment…" autocomplete = "off" name = "comment" required/><br><br>
				<button type = "submit" onmouseover = "document.cookie = 'post=<%- post %>'"><%- include("./icons/add"); %> Comment</button>
				<br><br>
			</form>
		</div>
		<div class = "postcard" style = "background-color:var(--background); border-radius:0px; border-left:4px solid var(--post);">
			<h3>Comments</h3>
			<%- comments %>
		</div>
		<br><br><br>
	</body>
	<script>
		document.getElementById("postId").value = `<%- post %>`;
	</script>
</html>