<!doctype html>
<html lang = "en">
	<head>
		<title>Big Space | Settings</title>
		<%- include("./partials/meta.html"); %>
	</head>
	<body>
		<div class="sidebar">
			<a href = "/@<%- user %>" class = "sidebar-profile"><img src = "<%- profile %>" class = "pfp"/> &nbsp;<%- user %></a>
			<a href="/"><%- include("./icons/home"); %> Home</a>
			<a href="/settings"><%- include("./icons/settings"); %> Settings</a>
			<a href="/share"><%- include("./icons/pencil"); %> Share</a>
			<a href="#"><%- include("./icons/bell"); %> Alerts</a>
			<a href="/logout" class = "logout"><%- include("./icons/logout"); %> Logout</a>
			<span style = "position: fixed; left: 0; bottom: 0; display:flex; vertical-align:middle;">
				<a onclick = "toggleTheme()" style = "color:var(--secondary);"><%- include("./icons/theme"); %></a>
			</span>
		</div>
		<div class = "content">
			<center>
				<%- include("./partials/header.html"); %>
			</center>
			<div class = "postcard">
				<form action = "/save_settings" method = "POST">
					<h2 style = "text-align:center">
						<img src = "<%- profile %>" style = "border-radius:50%; width:100px; height:100px;">
						<br>
						Account: <%- user %>
					</h2>
					<p style = "text-align:left; font-size:18px;">
						Token: <span id = "userToken" style = "color:var(--tertiary)" onclick = "showToken()"><%- token %></span>
						<br>
						Password: <span id = "userPassword" style = "color:var(--tertiary)" onclick = "showPassword()"><%- password %></span>
						<br>Bio: <input name = "bio" class = "thin" value = "<%- bio %>" placeholder = "your bio…" autocomplete = "off" required/>
						<br>Page: <input name = "page" type = "url" class = "thin" value = "<%- page %>" placeholder = "your page…" autocomplete = "off" required/>
						<br>Profile: <input name = "profile" type = "url" class = "thin" value = "<%- profile %>" placeholder = "profile pic…" autocomplete = "off" required/>
					</p>
					<br><br>
					<button type = "submit">
						Save <%- include("./icons/save"); %>
					</button>
					<br><br>
				</form>
			</div>
		</div>
		<script>
			hideInfo();
			function showPassword(){
				document.getElementById("userPassword").innerHTML = "<%- password %>";
			}
			function showToken(){
				document.getElementById("userToken").innerHTML = "<%- token %>";
			}
		</script>
	</body>
</html>