<!doctype html>
<head>
	<title>Big Space | <%- userSelect %></title>
	<%- include("./partials/meta"); %>
</head>
<body>
	<center>
		<%- include("./partials/header"); %>
	</center>
	<br> 
	<div class = "postcard" style = "background-color:var(--post);">
		<h2 style = "text-align:center">
			<img src = "<%- userSelectProfile %>" style = "border-radius:50%; width:100px;">
			<br>
			<%- userSelect %>
		</h2>
		<p style = "text-align:left; font-size:18px;">
			<i class="fa-solid fa-address-card"></i> About me: <%- bio %>
			<br>
			<i class="fa-solid fa-globe"></i> Website: 
			<a href = "<%- pageUrl %>" class = "default" target = "_blank">
				<%- page %>
			</a>
		</p>
	</div>
	<br>
	<center>
		<a href = "/">
			<button><i class="fa-solid fa-arrow-right-from-bracket"></i>&nbsp;&nbsp;Go back</button>
		</a>
	</center>
	<center>
		<%- include("./partials/footer"); %>
	</center>
</body>