<!doctype html>
<html lang = "en">
	<head>
		<title>Big Space | <%- user %></title>
		<meta property="og:title" content="About <%- user %>"/>
		<meta property="og:description" content="<%- bioMeta %> - <%- user %> has <%- followers %> followers"/>
		<%- include("./partials/meta.html"); %>
	</head>
	<body>
		<center>
			<%- include("./partials/header.html"); %>
		</center>
		<br> 
		<div class = "postcard">
			<h3 style = "text-align:center">
				<img src = "<%- profile %>" style = "border-radius:50%; width:100px; height:100px;">
				<br>
				<%- user %>&nbsp;&nbsp;<span style = "font-size:35px;"><%- badge %></span>
			</h3>
			<span style = "text-align:left; font-size:18px;">
				<%- include("./icons/smile"); %>
				Followers: <span style = "color:var(--tertiary)"><%- followers %></span>
				<br>
				<%- include("./icons/profile"); %>
				About me: <%- bio %>
				<br>
				<%- include("./icons/world"); %>
				Website: 
				<a href = "<%- pageUrl %>" class = "default" target = "_blank">
					<%- page %>
				</a>
				<br><br>
			</span>
			</div>
			<div class = "postcard" style = "background-color:var(--background); height:50px;">
				<h3>Recent Posts</h3>
			</div>
			<%- posts %>
			<br>
			<center>
				<a href = "/" style = "display:flex; align-items:center; justify-content: center;">
					<button style = "border-radius:50px 0px 0px 50px;">
						<%- include("./icons/back"); %> Go back
					</button>
					&nbsp;
					<form action = "/follow" method = "POST">
						<button style = "border-radius:0px 50px 50px 0px;" onclick = "document.cookie = 'viewingUser=<%- user %>'" type = "submit">
							<%- include("./icons/follow"); %> Follow
						</button>
					</form>
				</a>
			</center>
		</div>
	</body>
</html>