@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Manrope&family=Poppins&family=Raleway&display=swap');

:root{
	--mainFont:'Inter', sans-serif;
	--secondFont:'Poppins', sans-serif;
	--thirdFont:'Raleway', sans-serif;
	--badgeClr:#ffffff;
}
.theme-dark{
	--background:#1f1f1f;
	--background-lighter:#363636;
	--post:#2e2e2e;
	--primary:#d1d1d1;
	--secondary:#616161;
	--tertiary:#985eff;
	--tertiary-darker:#6200ee;
	--postColor:var(--primary);
	--error:#D9544D;
	--error-bolder:#f20202;
	--badgeBg:#1E90FF;
}
.theme-light{
	--background:#ffffff;
	--background-lighter:#ededed;
	--post:#f7f7f7;
	--primary:#171717;
	--secondary:#808080;
	--tertiary:#29a3f5;
	--tertiary-darker:dodgerblue;
	--postColor:var(--primary);
	--error:#f20202;
	--error-bolder:#bc0b0b;
	--badgeBg:#985eff;
}
body {
	background-color:var(--background);
	font-family: var(--mainFont);
	font-size:17px;
	text-align:left;
	color:var(--primary);
	animation: fadeInAnimation ease 1.5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	transition:0.3s;
	margin:20px;
	user-select:none;
}
@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
h1, h2, h3, h4, h5, h6{
	color:var(--primary);
	font-family:var(--thirdFont);
}
h2 i:hover{
	font-style:italic;
	cursor:pointer;
}
p{
	font-size:17px;
}
button{
	font-family: var(--secondFont);
	font-size:15px;
	border:none;
	padding:5px 10px;
  border-radius:5px;
	background-color:var(--tertiary);
	color:#ffffff;
	transition:0.3s;
	width:150px;
}
button:hover{
	background-color:var(--tertiary-darker);
}
button.replit{
	background-color:#1C2333;
	width:200px;
	color:#F26207;
	font-family: 'IBM Plex Sans', sans-serif;
	font-size:20px;
	transition:0.3s;
}
button.replit:hover{
	background-color:#3C445C;
	width:210px;
	color:#F26207;
}
button.post{
	border-radius:50%;
	height:50px;
	width:50px;
	color:#ffffff;
}

input{
	font-family: var(--mainFont);
	color:var(--secondary);
	width:400px;
	height:50px;
	transition:0.3s;
	background-color:var(--post);
	font-size:20px;
	outline:none;
	border:none;
}
input:focus{
	background-color:var(--background-lighter);
	color:var(--primary);
	outline:none;
	border:none;
}
input.bio{
	height:20px;
	width:150px;
	color:var(--tertiary);
	font-size:18px;
}
input.bio:focus{
	background-color:var(--background);
}
select{
	font-family:var(--mainFont);
	border-radius:5px;
	border:none;
	background-color:var(--post);
	color:var(--secondary);
	width:404px;
	height:50px;
	font-size:20px;
	transition:0.3s;
}
select:focus{
	outline:none;
}
option{
	color:var(--secondary);
}
a{
	text-decoration:none;
}
a.bio{
	color:var(--tertiary);
	text-decoration:none;
}
a.bio:hover{
	text-decoration:underline;
}
a.user{
	color:var(--tertiary);
	font-style:italic;
	text-decoration:none;
	transition:0.3s;
}
a.user:hover{
	color:var(--tertiary-darker);
}
.profile{
	color:var(--primary);
	text-decoration:none;
}
.profile:hover{
	text-decoration:underline;
}
a.logout{
	color:var(--error);
	padding:10px;
	transition:0.5s;
}
a.logout:hover{
	color:var(--error-bolder);
	cursor:pointer;
}
.icon a{
	color:var(--primary);
	transition:0.3s;
}
.icon a:hover{
	color:var(--secondary);
}

::-webkit-scrollbar {
	display: none;
}
::placeholder{
	color:var(--secondary);
}

img{
	border-radius:20px;
}
img.pfp{
	border-radius:50%;
	width:25px;
	vertical-align:middle;
	background-color:var(--post);
}

.pencil {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
	padding:25px 25px;
}
.footer{
	position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--background);
  color: var(--secondary);
	font-size:15px;
  text-align: center;
	transition:0.3s;
}
.footer a{
	color:var(--secondary);
	text-decoration:none;
}
.footer a:hover{
	text-decoration:underline;
}
.card{
	max-width:500px;
	height:120px;
	background-color:var(--post);
	border-radius:5px;
	padding:10px 5px;
	transition:0.3s
}
.card:hover{
	background-color:var(--background-lighter);
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}
.main{
	margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}
.postcard{
	max-width: 800px;
	margin: 15px auto;
	padding: 2px 20px;
	background-color:var(--post);
	color:var(--postColor);
	border-radius:10px;
	transition:0.3s;
}
.postcard:hover{
	background-color:var(--background-lighter);
	cursor:pointer;
}
.badge {
	align-items:center;
	background-color:var(--badgeBg);
	color:var(--badgeClr);
	border-radius:10px;
	max-width:fit-content;
	font-family:var(--secondFont);
	font-size:14px;
	padding:2.5px 5px;
}