@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Manrope&family=Plus+Jakarta+Sans&family=Poppins&display=swap');

:root{
	--background:#393D3F;
	--background-lighter:#4c5052;
	--post:#45484a;
	--primary:#f7f9f9;
	--secondary:#8a98a5;
	--tertiary:#29a3f5;
	--tertiary-darker:dodgerblue;
	--quatenary:white;
	--postColor:var(--primary);
	--error:#D9544D;
	--error-bolder:#f20202;
	--mainFont:'Manrope', sans-serif;
	--secondFont:'Poppins', sans-serif;
}
body {
	background-color:var(--background);
	font-family: var(--mainFont);
	text-align:left;
	color:var(--primary);
	animation: fadeInAnimation ease 1.5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
h1, h2, h3, h4, h5, h6{
	color:var(--primary);
}
h2 i:hover{
	font-style:italic;
}
p{
	font-size:15px;
}
main{
	max-width: 800px;
	margin: 15px auto;
	padding: 20px 20px;
	background-color:var(--post);
	color:var(--postColor);
	border-radius:5px;
	transition:0.3s;
}
main:hover{
	background-color:var(--background-lighter);
	cursor:pointer;
}
button{
	font-family: var(--mainFont);
	font-size:15px;
	border:none;
	padding:5px 10px;
  border-radius:5px;
	background-color:var(--tertiary);
	color:var(--primary);
	transition:0.3s;
}
button:hover{
	background-color:var(--tertiary-darker);
}
button.replit{
	background-color:#1C2333;
	width:200px;
	color:#F26207;
	font-family: 'IBM Plex Sans', sans-serif;
	font-size:20px;
	transition:0.3s;
}
button.replit:hover{
	background-color:#3C445C;
	width:210px;
	color:#F26207;
}
button.login{
	width:400px
}
button.login:hover{
	width:410px;
}
button.post{
	border-radius:50%;
	height:50px;
	width:50px;
}
button.normal{
	transition:0.3s;
	width:100px;
}
button.normal:hover{
	width:120px;
}

input{
	font-family: var(--mainFont);
	color:var(--secondary);
	border-radius:5px;
	width:800px;
	height:50px;
	transition:0.3s;
	background-color:var(--post);
	font-size:20px;
	outline:none;
	border:none;
}
input:focus{
	background-color:var(--background-lighter);
	color:var(--primary);
	outline:none;
	border:none;
}
input.bio{
	height:20px;
	width:150px;
	color:var(--tertiary);
	font-size:18px;
}
input.bio:focus{
	background-color:var(--background);
}
select{
	font-family:var(--mainFont);
	border-radius:5px;
	border:none;
	background-color:var(--post);
	color:var(--secondary);
	width:800px;
	height:50px;
	font-size:20px;
	transition:0.3s;
}
select:focus{
	outline:none;
}
option{
	color:var(--secondary);
}
a{
	text-decoration:none;
}
a.bio{
	color:var(--tertiary);
	text-decoration:none;
}
a.bio:hover{
	text-decoration:underline;
}
a.user{
	color:var(--tertiary);
	font-style:italic;
	text-decoration:none;
	transition:0.3s;
}
a.user:hover{
	color:var(--tertiary-darker);
}
a.logout{
	color:var(--error);
	padding:10px;
	transition:0.5s;
}
a.logout:hover{
	color:var(--error-bolder);
	cursor:pointer;
}
.settings a{
	float:right;
	color:var(--primary);
	transition:0.3s;
}
.settings a:hover{
	color:var(--secondary);
}

::-webkit-scrollbar {
	display: none;
}
::placeholder{
	color:var(--secondary);
}

img{
	border-radius:20px;
}

.pencil {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
	padding:25px 25px;
}
.footer{
	position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--background);
  color: var(--secondary);
	font-size:15px;
  text-align: center;
}
.footer a{
	color:var(--secondary);
	text-decoration:none;
}
.footer a:hover{
	text-decoration:underline;
}
.card{
	max-width:500px;
	height:120px;
	background-color:var(--post);
	border-radius:5px;
	padding:10px 5px;
	transition:0.3s
}
.card:hover{
	box-shadow: 10px 10px var(--background-lighter);
}